/* style.css */

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 25px;
  }
  
  h1, h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Form Styles */
  
  form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, select {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc
  }

  button[type="submit"] {
    background-color: #00698f;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #004d7a;
  }
  
  button[type="submit"]:active {
    background-color: #003354;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }